* {
  padding: 0px;
  margin: 0px;
  background-color: darkslategrey;
  /* prevent the user from highlighting any text on the page */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

canvas {
  margin: 20vh 10vw;
}

.hide {
  display: none;
}

/* our user input class (on-screen buttons) */
.user-input {
  border-style: solid;
  border-radius: 20px;
  font-weight: bold;
  font-size: 3vh;
  padding: 10px;
}

.rollable {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: darkgreen;
  background-color: greenyellow;
  border-color: darkgreen;
  cursor: pointer;
}

.unrollable {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: pink;
  background-color: brown;
  border-color: pink;
  cursor: not-allowed;
}

/* dice selectors */
.selector {
  background-color: rgb(66, 110, 110);
  color: rgb(122, 204, 204);
  border-color: rgb(122, 204, 204);
  margin: 0px 2px;
  cursor: pointer;
  font-size: 2vh;
}

.selector:hover {
  background-color: rgb(107, 124, 140);
}

.selector:active {
  background-color: rgb(40, 46, 52);
}

.btn-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0%);
}

/* our ui text class */
.info {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 10px;
  color: lightsteelblue;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 200, 255, 0.2);
  border-radius: 20px;
  text-align: center;
  font-size: 2.5vh;
}

/* define our animation behaviours for the UI text */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

.fade-in {
  animation: fadeIn 0.5s both;
}
.fade-out {
  animation: fadeOut 0.5s both;
}